<div class="container-fluid">
    <app-page-title title="Job Details" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-xl-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="fw-semibold">Overview</h5>

                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="col">Job Title</th>
                                    <td scope="col">{{this.offer.titleJob}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Experience:</th>
                                    <td>{{this.offer.experience}} Years</td>
                                </tr>
                                <tr>
                                    <th scope="row">Job Type</th>
                                    <td><span class="badge badge-soft-success">{{this.offer.jobType}}</span></td>
                                </tr>
                            
                                <tr>
                                    <th scope="row">Posted Date</th>
                                    <td>{{this.offer.createdAt}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="hstack gap-2">
                        <button class="btn btn-soft-primary w-100">Apply Now</button>
                        <button class="btn btn-soft-danger w-100">Contact Us</button>
                    </div>
                </div>
            </div>

           
        </div><!--end col-->
        <div class="col-xl-9">
            <div class="card">
                <div class="card-body border-bottom">
                    <div class="d-flex">
                        <img src="assets/images/companies/wechat.svg" alt="" height="50">
                        <div class="flex-grow-1 ms-3">
                            <h5 class="fw-semibold">{{this.offer.titleJob}}</h5>
                            <ul class="list-unstyled hstack gap-2 mb-0">
                                <li>
                                    <i class="bx bx-building-house"></i> <span class="text-muted">{{this.offer.company}}</span>
                                </li>
                                <li>
                                    <i class="bx bx-map"></i> <span class="text-muted">{{this.offer.location}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="fw-semibold mb-3">Description</h5>
                    <p class="text-muted">{{this.offer.description}}</p>
                </div>
            </div>
        </div><!--end col-->
    </div><!--end row-->

</div>