<div class="container-fluid">
  <app-page-title title="Jobs List" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div ngClass="card">
        <div class="card-body border-bottom">
          <div class="d-flex align-items-center">
            <h5 class="mb-0 card-title flex-grow-1">Jobs Lists</h5>
            <div class="flex-shrink-0 d-flex gap-1">
              <a href="javascript:void(0);" class="btn btn-primary" (click)="openModal(content)">Add New Job</a>
              <a href="javascript:void(0);" class="btn btn-light"><i class="mdi mdi-refresh"></i></a>
              
            </div>
          </div>
        </div>
        <div class="card-body border-bottom">
          <div class="row g-3">
            <div class="col-xxl-6 col-lg-6">
              <input type="search" class="form-control" id="searchInput" placeholder="Search for ..." [(ngModel)]="term" (ngModelChange)="searchJob()">
            </div>
            
            <div class="col-xxl-2 col-lg-4">
              <select class="form-select" id="idType" aria-label="Default select example" (click)="selectType()">
                <option value="">Select Type</option>
                <option value="Full Time">Full Time</option>
                <option value="Part Time">Part Time</option>
                <option value="Internship">Internship</option>
                <option value="Freelance">Freelance</option>
              </select>
            </div>
            <div class="col-xxl-2 col-lg-4">
              <div id="datepicker1">
                <input type="text" placeholder="Datepicker" class="form-control " [(ngModel)]="searchTerm" bsDatepicker [bsConfig]="{ showWeekNumbers: false } ">

              </div><!-- input-group -->
            </div>
            <div class="col-xxl-2 col-lg-4">
              <button type="button" class="btn btn-soft-secondary w-100" (click)="performSearch()"><i class="mdi mdi-filter-outline align-middle"></i> Filter</button>
            </div>
          </div>
        </div>
        <div class="card-body">

          <div class="table-responsive">
            <table class="table align-middle dt-responsive nowrap w-100 table-check" id="job-list">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Job Title</th>
                  <th scope="col">Company Name</th>
                  <th scope="col">Location</th>
                  <th scope="col">Experience</th>
                  <th scope="col">Categorie</th>
                  <th scope="col">Type</th>
                  <th scope="col">Posted Date</th>
                 
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                @for(data of lists;track $index){
                <tr>
                  <th scope="row">{{data.id}}</th>
                  <td>{{data.titleJob}}</td>
                  <td>{{data.company}}</td>
                  <td>{{data.location}}</td>
                  <td>{{data.experince}}</td>
                  <td>{{data.categorie}}</td>
                  <td><span class="badge badge-soft-{{data.type_color}}" [ngClass]="{'badge-soft-success': data.jobType === 'Full Time','badge-soft-danger': data.jobType === 'Part Time','badge-soft-info': data.jobType === 'Freelance','badge-soft-warning': data.jobType === 'Internship'}">{{data.jobType}}</span></td>
                  <td>{{data.createdAt}}</td>
                  
                  <td>
                    <ul class="list-unstyled hstack gap-1 mb-0">
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                        <a [routerLink]="'/jobs/details/'+data.id" class="btn btn-sm btn-soft-primary"><i class="mdi mdi-eye-outline"></i></a>
                      </li>
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                        <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger" (click)="delete($event,data.id)"><i class="mdi mdi-delete-outline"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>}
              </tbody>
            </table>
          </div>
          @if(joblist?.length > 0){
          <div class="row justify-content-between align-items-center">
            <div class="col-auto me-auto">
              <p class="text-muted mb-0">Showing <b>{{lists?.length}}</b> of <b>{{joblist?.length}}</b> entries</p>
            </div>
            <div class="col-auto">
              <div class="text-md-right float-md-end pagination-rounded">
                <ul class="pagination pagination-rounded justify-content-end mb-2">
                  <pagination [totalItems]="joblist?.length" [itemsPerPage]="8" (pageChanged)="pageChanged($event)"></pagination>
                </ul>
              </div>
            </div>
            <!--end col-->
          </div>}
          <!--end row-->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- View Details Model -->
<ng-template #ViewContent role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Order Details</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modalRef?.hide()"></button>
  </div>
  <div class="modal-body">
    <p class="mb-2">
      Product id:
      <span class="text-primary">#SK2540</span>
    </p>
    <p class="mb-4">
      Billing Name:
      <span class="text-primary">Neal Matthews</span>
    </p>
    <div class="table-responsive">
      <table class="table table-centered table-nowrap">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <div>
                <img src="assets/images/product/img-7.png" alt class="avatar-sm" />
              </div>
            </th>
            <td>
              <div>
                <h5 class="text-truncate font-size-14">Wireless Headphone (Black)</h5>
                <p class="text-muted mb-0">$ 225 x 1</p>
              </div>
            </td>
            <td>$ 255</td>
          </tr>
          <tr>
            <th scope="row">
              <div>
                <img src="assets/images/product/img-4.png" alt class="avatar-sm" />
              </div>
            </th>
            <td>
              <div>
                <h5 class="text-truncate font-size-14">Phone patterned cases</h5>
                <p class="text-muted mb-0">$ 145 x 1</p>
              </div>
            </td>
            <td>$ 145</td>
          </tr>
          <tr>
            <td colspan="2">
              <h6 class="m-0">Sub Total:</h6>
            </td>
            <td>$ 400</td>
          </tr>
          <tr>
            <td colspan="2">
              <h6 class="m-0">Shipping:</h6>
            </td>
            <td>Free</td>
          </tr>
          <tr>
            <td colspan="2">
              <h6 class="m-0">Total:</h6>
            </td>
            <td>$ 400</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<!-- Order Create Model -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add Jobs</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modalRef?.hide()"></button>
  </div>
  <form (ngSubmit)="saveUser()" [formGroup]="jobListForm">
    <div class="modal-body">
      <input type="hidden" name="id" value="" formControlName="id" />
      <div class="mb-3">
        <label for="customername-field" class="form-label">Jobs Title</label>
        <input type="text" id="customername-field" class="form-control" placeholder="Enter Name" required formControlName="titleJob" [ngClass]="{ 'is-invalid': submitted && form['title'].errors }" />
        @if(submitted && form['title'].errors){
        <div class="invalid-feedback" align="left">
          @if(form['title'].errors['required']){
          <div>Jobs Title is required</div>
          }
        </div>
        }
      </div>

     

      <div class="mb-3">
        <label for="customername-field" class="form-label">Location</label>
        <input type="text" id="customername-field" class="form-control" placeholder="Enter Location" required formControlName="location" [ngClass]="{ 'is-invalid': submitted && form['location'].errors }" />
        @if(submitted && form['location'].errors){
        <div class="invalid-feedback" align="left">
          @if(form['location'].errors['required']){
          <div>Location is required</div>}
        </div>}
      </div>

      <div class="mb-3">
        <label for="customername-field" class="form-label">Experience</label>
        <input type="text" id="customername-field" class="form-control" placeholder="Enter Experience" required formControlName="experience" [ngClass]="{ 'is-invalid': submitted && form['experience'].errors }" />
        @if(submitted && form['experience'].errors){
        <div class="invalid-feedback" align="left">
          @if(form['experience'].errors['required']){
          <div>Experience is required</div>}
        </div>}
      </div>

      <div class="mb-3">
        <label for="customername-field" class="form-label">description</label>
        <input type="text" id="customername-field" class="form-control" placeholder="Enter description" required formControlName="description" [ngClass]="{ 'is-invalid': submitted && form['position'].errors }" />
        @if(submitted && form['position'].errors){
        <div class="invalid-feedback" align="left">
          @if(form['position'].errors['required']){
          <div>Position is required</div>}
        </div>}
      </div>
      <div class="mb-3">
        <label for="customername-field" class="form-label">nameCategory</label>
        <input 
          type="text" 
          id="customername-field" 
          class="form-control" 
          placeholder="Enter category name" 
          formControlName="nameCategory"
          [ngClass]="{ 'is-invalid': submitted && jobListForm.get('categorieRequestDTO').get('nameCategory').invalid }"
        />
      
        <!-- Error message -->
        <div *ngIf="submitted && jobListForm.get('categorieRequestDTO').get('nameCategory').errors" class="invalid-feedback" align="left">
          <div *ngIf="jobListForm.get('categorieRequestDTO').get('nameCategory').errors['required']">
            Category is required
          </div>
        </div>
      </div>
      
      
      <div class="mb-3">
        <label for="payment-field" class="form-label">contractType</label>
        <select class="form-control" data-trigger name="payment-method" id="payment-field" formControlName="contractType" [ngClass]="{ 'is-invalid': submitted && form['type'].errors }">
          <option value="CDD">Full Time</option>
          <option value="CDI">Part Time</option>
        </select>
        @if(submitted && form['type'].errors){
        <div class="invalid-feedback" align="left">
          @if(form['type'].errors['required']){
          <div>Type is required</div>
          }
        </div>}
      </div>

      <div class="mb-3">
        <label for="payment-field" class="form-label">jobType</label>
        <select class="form-control" data-trigger name="payment-method" id="payment-field" formControlName="jobType" [ngClass]="{ 'is-invalid': submitted && form['status'].errors }">
          <option value="FREELANCE">FREELANCE</option>
          <option value="INTERNSHIP">INTERNSHIP</option>
          <option value="PARTTIME">PARTTIME</option>
          <option value="FULLTIME">FULLTIME</option>
        </select>
        @if(submitted && form['status'].errors){
        <div class="invalid-feedback" align="left">
          @if(form['status'].errors['required']){
          <div>job-type  is required</div>}
        </div>}
      </div>

    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)=" modalRef?.hide()">Close</button>
        <button type="submit" class="btn btn-success" id="add-btn">Add Order</button>
      </div>
    </div>
  </form>
</ng-template>
<!--End Modal -->