<div class="container-fluid">
    <div class="row">
        <div class="mx-auto col-lg-8">
            <div class="card">
                <div class="card-body">

                    <form [formGroup]="form" (ngSubmit)="creataInterview()">
                        <div id="datepicker1">
                            <label for="projectname-input" class="form-label">Interview Date</label>
                            <input  placeholder="Datepicker" class="form-control" formControlName="interviewDate"  bsDatepicker [bsConfig]="{ showWeekNumbers: false } ">
                            <label >Time</label>
                            <input type="text" class="form-control" formControlName="time">
                      
                        <div class="mb-3">
                            <label for="projectname-input" class="form-label">Interview Topic</label>
    
                            <input id="projectname-input" name="projectname-input" type="text" class="form-control" formControlName="topic" placeholder="Enter project name..." required>
                            <div class="invalid-feedback">Please enter a project name.</div>
                        </div>
                    
                        <div class="mb-3">
                            <label for="projectdesc-input" class="form-label">Description</label>
                            <textarea class="form-control" id="projectdesc-input" rows="3" placeholder="Enter project description..." formControlName="description"     required></textarea>
                            <div class="invalid-feedback">Please enter a project description.</div>
                        </div>
                   
                    </div>

                    <div class="col-lg-8">
                        <div class="text-end mb-4">
                            <button type="submit" class="btn btn-primary ">Create Interview</button>
                        </div>
                    </div>

                    </form>

                
                <!-- end card body -->
                </div>
            <!-- end card -->

            </div>
        <!-- end col -->
      
        <!-- end card -->
        </div>

</div>